<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DJANGO CRM</title>

    <style>
        .lead {
            padding: 10px 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 50%;
        }
    </style>
</head>
<body>
    <h1><a href="{% url 'leads:lead_list' %}">Leads</a></h1>
    <a href="{% url 'leads:lead_create' %}">Create a new lead</a>
    <hr>
    {% for lead in leads %}
        <div class="lead">
            <a href="{% url 'leads:lead_detail' lead.pk %}">{{ lead.first_name }} {{ lead.last_name }}</a>. Age: {{ lead.age }}
        </div>
    {% endfor %}
</body>
</html>